.Home{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.chatlist{
    height: 100%;
    min-height: 100vh;
    background-color: #282a36;
}

.inputbox{
    position: fixed;
    width: 34%;
    right: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #44475a;
}

.inputbox textarea{
    height: 50vh;
    width: 85%;
    margin: auto;
    border-radius: 15px;
    padding: 1%;
    font-size: 2.8vh;
}

.inputbox input{
    height: 10vh;
    width: 85%;
    margin: auto;
    border-radius: 10px;
    font-size: 3vh;
}

.inputbox button{
    height: 10vh;
    width: 85%;
    margin: auto;
    border-radius: 15px;
}

@media (max-width: 1000px) {
    .Home{
        grid-template-columns: 1fr;
        margin-bottom: 15vh;
    }

    .inputbox{
        position: fixed;
        width: 100%;
        bottom: 0%;
        height: 15vh;
    }

    .inputbox input{
        height: 1.5vh;
        border-radius: 5px;
        font-size: 1.2vh;
        margin-bottom: 1px !important;
        margin-left: 0;
    }

    .inputbox textarea{
        margin-top: 1px;
        margin-left: 0;
    }

    .inputbox button{
        position: fixed;
        right: 0px;
        width: 12%;
        margin-top: 5%;
    }
}